<!DOCTYPE html>
<html>
<head>
  <title>Enviar datos con Axios</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  <div class="form-container">
    <form id="myForm" method="post" action="/login">
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <label for="usuario">Usuario:</label>
        <input type="text" name="usuario" id="usuario">

        <label for="password">Contraseña:</label>
        <input type="password" name="password" id="password">

        <input type="submit" value="Enviar">
      </div>
    </form>
  </div>
</body>
</html>
